extends layout

block content
  h1= title
  p Welcome to #{title}
  input#secret(type='text' name='secret')
  br
  br
  button(type='button' onclick="lightson()") Lights On
  button(type='button' onclick="lightsoff()") Lights Off 
  br
  br
  button(type='button' onclick="activate()") Activate the door
  br
  br
  button(type='button' onclick="shutdown()") Shutdown Pi
  br
  br
  button(type='button' onclick="reboot()") Reboot Pi

  br
  br

  p#info Click a command to run it.
