doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.3.1/sha1.js')
    script(src='/javascripts/garage.js')
  body
    block content
